# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Ecosystem mini game.iml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\Repos\Ecosystem mini game\.idea\.idea.Ecosystem mini game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
